/* Modal overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
}

/* Modal content */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    width: 90%;
    height: 90%;
    max-width: 1200px;
    max-height: 90%;
    border-radius: 8px;
    outline: none;
    overflow: hidden;
    z-index: 1001;
}

/* Close button */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    background-color: red;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

/* Download button */
.download-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}

.download-button:hover{
    background: rgb(1, 93, 1);
}
